/* filepath: c:\xampp\htdocs\reese.ai\src\app.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import 'tailwindcss';

:root {
  --sinister: #37352F;
  --silk: #F3F3F3;
  --placebo: #E7E7E7;
  --bedrock: #9E9D9A;
  --bleu: #2383E2;
  --moon: #7D7C78;
  --lynx: #F7F7F7;
  --dash: #EBEBE8;
  --graphite: #A5A4A1;
  
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Helvetica.ttf") format("truetype"),
       url("/fonts/Helvetica-Bold.ttf") format("truetype");
}

main {
    font-family: 'Helvetica', sans-serif;
}

html {
  margin: 0px 50px 0px 50px;
}

p, input, span {
  font-family: 'Inter', sans-serif;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: none;
}
::-webkit-scrollbar-thumb:hover {
  background: none;
}